* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-shadow: none;
}

.center {
    text-align: center;
}

.padding {
    padding: 10px;
}

.setRight {
    float: right;
}

.headerIcon {

    background-size: 20px !important;
    background-repeat: no-repeat !important;
    border: none !important;
}


#menuIcon {
    background-image: url(../images/menu.png);
}

#favIcon {
    background-image: url(../images/heart.png);
}

#cartIcon {
    background-image: url(../images/cart.png);
}

#backicon {
    background-image: url(../images/back.png);
}

#locationicon {
    background-image: url(../images/location.png);
    background-size: 12px;
}

#filtericon {
    background-image: url(../images/filter.png);
}

#listicon {
    background-image: url(../images/list.png);
}

#gridicon {
    background-image: url(../images/grid.png);
}


#homePage div.col-xs-1 {
    padding-right: 0;
    padding-left: 0;
}

#homePage div.popularDestDiv h3 {
    margin-top: 5px;
    margin-left: 10px;
}

#homePage div.col-xs-1 img {
    height: 20px;
    width: 20px;
    background-color: #d8d8d8;
}

#homePage div.serviceDiv {
    background-color: #d8d8d8;
}

    #homePage div.serviceDiv div.list-group {
        margin-bottom: 0;
    }

#myModal button.addIcon {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    background-image: url(../images/add.png);
}

#myModal button.subIcon {
    height: 20px;
    width: 20px;
    background-color: white;
    float: right;
    border-radius: 20px;
    background-image: url(../images/sub.png);
}

#myModal div.col-xs-12 {
    font-size: small;
    color: #c1c1c1;
}

#logoImg {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.searchDiv {
    background-color: #76c4da;
    width: 100%;
    color: white;
}

.padding {
    padding: 10px;
}

.setCenter {
    text-align: center;
}

.setRight {
    text-align: right;
}

.ui-btn {
    background-color: transparent !important;
    border: none !important;
}

span.sort-text {
    font-size: 8px;
}

.card {
    background: #FFF;
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    padding: 0px;
    margin: 0px 0px 10px 0px !important;
    overflow: hidden;
    border-radius: 6px;
}

    .card h1 {
        margin: 0px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .card p {
        margin: 0px;
        padding: 10px;
    }

.card-image {
    width: 100% !important;
    height: 200px !important;
    padding: 0px !important;
    margin: 0px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative !important;
    overflow: hidden !important;
}

.image1 {
    background-image: url('../images/hotel1.jpg');
}

.image2 {
    background-image: url('../images/hotel2.jpg');
}

.image3 {
    background-image: url('../images/hotel3.jpg');
}

.card-image .card-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45%;
    color: white;
    background: rgba(0,0,0,0.65);
    margin: 0px;
    padding: 0px;
    border: none;
    opacity: 0.9;
}



.redBtn {
    background-color: red !important;
    color: white !important;
    width: 100%;
    border-radius: 5px;
    text-shadow: none !important;
}

.featureSize {
    height: 20px;
    width: 25px;
    padding-right: 5px;
}

.list-group-item {
    padding-bottom: 10px !important;
    font-size: small;
}

.grpBtn {
    border-left: 1px solid #c1c1c1;
}

.btn-group {
    background-color: white;
    border-radius: 5px;
}

.header {
    padding: 0 10px 0 10px;
    border: none !important;
    background-color: #f9f9f9 !important;
}

#myModal input {
    border-radius: 3px;
    border: 1px solid #c1c1c1;
}

#modalCloseBtn {
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-image: url(../images/closeRed.png);
    background-color: white;
}

.modal-content {
    border-radius: 5px !important;
    box-shadow: none;
    width:80%;
    left:12%;
}

.modalBtnDiv {
    width: 20%;
}

.textDiv {
    width: 60%;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    align-self:center;
    width:80%;
}

.modal-header {
    padding: 10px !important;
}

.btn-sm {
    width: 50%;
    font-size: medium !important;
}


.card-image .card-title h4, .card-image .card-title h3 {
    margin: 2px 5px 2px 5px !important;
}

    .row-fluid .col-xs-3 {
        display: inline-block;
    }

/* List Hotel  */
span.sort-text {
    font-size: 8px;
}

.card {
    background: #FFF;
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    padding: 0px;   
    overflow: hidden;
    border-radius: 6px;
}

.card-image {
    width: 100% !important;
    height: 200px !important;
    padding: 0px !important;
    margin: 0px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative !important;
    overflow: hidden !important;
}

    .card-image h1 {
        margin: 0px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .card-image p {
        margin: 0px;
        /*padding: 10px;*/
    }

.image1 {
    background-image: url('../images/hotel1.jpg');
}

.image2 {
    background-image: url('../images/hotel2.jpg');
}

.image3 {
    background-image: url('../images/hotel3.jpg');
}

.card-image .card-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    color: white;
    background: rgba(0,0,0,0.65);
    margin: 0px;
    padding: 0px 0px 0px 10px;
    border: none;
    opacity: 0.9;
}

.card-image .hotelrate {
    display: table-cell;
    width: 100%;
}

.card-image .star_rating {
    display: inline-block;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.card-image .card-title img {
    height: 10px !important;
    width: 10px !important;
}

.card-image .card-title h4, .card-image .card-title h3 {
    margin: 2px 5px 2px 5px !important;
}

.card-image .card-title img {
    height: 10px !important;
    width: 10px !important;
}

.card-image .card-title p {
    font-size: 10px;
}

.card-textrating {
    background-color: black;
    opacity: 0.8;
    border-radius: 23px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 45px;
}

    .card-textrating p {
        padding-left: 4px;
        padding-top: 9px;
        position: absolute;
        color: white;
        font-size: 10px;
    }
.card-image .card-title p {
    font-size: 12px;
}

.card-image .hotelrate {
    display: table-cell;
    width: 100%;
}

.card-image .star_rating {
    display: table-cell;
    text-align: right;
    width: 100%;
}
/*horizontal card scroll*/
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

    .testimonial-group > .row > .col-xs-4 {
        display: inline-block;
        float: none;
        padding-right: 0;
        padding-left: 0;

    }
/*horizontal card scroll*/
#homePage div.card-title {
    font-size: small;
    text-align: left;
    color: red;
    font-weight: bold;
}
#homePage div.card-block {
    padding-top:5px;
    padding-bottom:5px;
}
#homePage div.card-text {
    font-size: x-small;
    text-align: left;
    color: dimgrey;
}

.card-comments {
    background-color: black;
    opacity: 0.8;
    border-radius: 23px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 9px;
}

    .card-comments img {
        width: 12px !important;
        height: 12px !important;
        position: absolute;
        top: 9px;
        left: 9px;
    }
#checkInDateBtn, #checkOutDateBtn {
    background-color: white !important;
    color:black;
    border-radius:5px;
    font-size:small;
    font-weight:bold;
    padding:5px 20px 5px 20px;
}
.datePickerRow{
    padding:0 15px 0 15px;
}
.checkInRow, .checkOutRow{
    color:lightgray;
    font-size:smaller;
    font-weight:normal;
    
}
#homePage .card {
    border: none;
    box-shadow: none;
    padding-left: 10px;
}

    #homePage .card img {
        min-height: 100px;
        border-radius: 5px;
    }

.commentCount {
    position: absolute;
    width: 25px;
    height: 16px;
    background-color: #f12222;
    right: -4px;
    text-align: center;
    border-radius: 5px;
    top: -6px;
    font-size: 10px;
    color: white;
}

.rightColumn,
.leftColumn {
    display: inline-block;
    width: 47%;
    vertical-align: top;    
}
.rightColumn {
    margin: 2.5px 0px 5px 2.5px;
}
.leftColumn {
    margin: 2.5px 2.5px 5px 5.5px;
}

.Card_gridView_image {
    width: 100%;
    height: 150px;
}

#gridview .card-Address {
    font-size: 12px;
    margin: 0px 0px 0px 2px;
}

#gridview .card-block p.Cardheader {
    font-size: 16px;
    margin: 0px 0px 0px 2px;
}

#gridview .card-block {
    height: 80px;
}

#gridview .card-price {
    font-size: 20px;
    margin: 0px 0px 0px 2px;
}

#gridview .container {
    padding-left: 0px !important;
    margin: 0px 0px 2px 2px;
}

.card-location {
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    padding-left: 13px;
    display: block;
    background-size: 12px;
}

/* End List Hotel  */

.searchIcon {
    float: right;
    width: 20px;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: white;
    border-left: 0;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

#homePage .searchDiv .input-group-btn {
    padding-left: 0;
    padding-right: 0;
}

#homePage .searchDiv .ui-input-text {
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    box-shadow: none;
}

#homePage .searchDiv input::-webkit-input-placeholder {
    color: black;
    font-size: small;
    padding-left: 5px;
}
