﻿<div data-role="page" id="newPage">
    <script id="tmplScript" type="text/x-jquery-tmpl">
        <p>Template Data 1</p>
    </script>
    <div data-role="header" class="header">
        <div data-role="navbar">
            <button id="menuIcon" class="headerIcon"></button>
            Header
            <div class="setRight">
                <button id="favIcon" class="headerIcon"></button>
                <button id="cartIcon" class="headerIcon"></button>
            </div>
        </div>
    </div>
    <div id="tmplDiv"></div>
    <div data-role="footer" class="footer"> Footer </div>
</div>